body {
    background-image: url('https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 250px;
    margin-left: 450px;
    margin-top: 50px;
}


.js-todo-list, .todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;

}

.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.js-name-input, .js-due-date-input{
    font-size: 15px;
    padding: 6px;
    border-radius: 10px;
    padding: 10px;
}

.add-todo-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

.delete-todo-button{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.todo-title{
    font-size: 30px;
    
}